<form>
  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Lựa chọn đối tác</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row
        *ngFor="let movingContact of movingContactNameList"
        (removed)="remove(movingContact)"
        style="font-size: 16px"
      >
        {{ movingContact }}
        <button matChipRemove [attr.aria-label]="'remove ' + movingContact">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      *ngIf="movingContactNameList.length < 1"
      placeholder="Chọn tour"
      #movingContactInput
      [formControl]="movingContactCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      (optionsScroll)="onScroll($event)"
    >
      <mat-option
        *ngFor="let movingContact of data"
        [value]="movingContact"
        [disabled]="isChecked(movingContact)"
      >
        <div>
          <div style="font-weight: bold">
            {{ onDisplayName(movingContact.branchName) }}
            <mat-icon>{{ isChecked(movingContact) && "checked" }}</mat-icon>
          </div>

          <small>{{ onDisplayAtr(movingContact) }}</small>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
