.guest-main {
  transition: 0.5s;
  opacity: 1;
  margin-left: 60px;
  display: block;
  position: relative;
  height: 100%;
}

.container-fluid {
  padding-top: 2% !important;
  background-color: #fafafa;
  padding-right: 0px !important;
  padding-left: 0px !important;
  position: relative;
  width: 100%;
  padding-top: 0px !important;
}

.outer-chat-container {
  position: sticky;
  right: 0;
  bottom: 0;
  transform: translate(0, 0);
  height: 56px;
  white-space: nowrap;
  text-align: right;
}
app-chat {
  overflow-y: auto;
  z-index: 1000;
  right: 0;
  position: absolute;
  right: 0;
}

app-footer {
  z-index: 0;
}


.validation-container {
  margin-top: -15px !important;
  margin-bottom: 15px !important;
}