<div class="container" style="padding: 0px 0 20px; background-color: #fafafa !important;">
  <div
    style="
      background-color: #2a3650;
      padding: 15px 50px 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    "
  >
    <h2 mat-form-label style="font-weight: heavy; color: white">
      Thêm thể loại
    </h2>
    <button
      mat-button
      style="color: white; margin-bottom: 16px"
      (click)="closeDialog()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div
    class="outlet"
    style="
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column !important;
    "
  >
    <div class="container-controller">
      <div
        class="row"
        style="
          display: flex;
          flex-direction: row !important;
          flex-wrap: 1;
          margin-left: 90px !important;
          margin-bottom: 20px !important;
        "
      >
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="disabled = false"
            *ngIf="disabled"
          >
            Sửa đổi
          </button>
        </div>

        <div style="margin-right: 20px">
          <button
            mat-raised-button
            color="primary"
            (click)="formSubmit_edit_info()"
            *ngIf="!disabled"
          >
            Lưu thay đổi
          </button>
        </div>

        <div style="margin-right: 20px">
          <button
            mat-raised-button
            color="danger"
            (click)="disabled = true"
            *ngIf="!disabled"
          >
            Hủy
          </button>
        </div>

        <div>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="formReset()"
            *ngIf="!disabled"
          >
            Khôi phục ban đầu
          </button>
        </div>
      </div>
    </div>
    <div
      class="row"
      style="
        display: flex;
        flex-direction: column !important;
        flex-wrap: 1;
      "
    >
      <div class="row">
        <h2 mat-form-label style="font-weight: heavy">Thêm thể loại</h2>
      </div>
      <form [formGroup]="editformGroup_info">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Thể loại</mat-label>
                <input
                  matInput
                  [readonly]="disabled"
                  fullwidth
                  placeholder="Vd: Du lịch biển"
                  formControlName="name"
                />
              </mat-form-field>

              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('name')?.errors &&
                    (editformGroup_info.get('name')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'name'"
                ></app-validation>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="display: flex; flex-direction: column !important; flex-wrap: 1"
        >
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-form">
            <mat-form-field style="width: 90%">
              <textarea
                matInput
                [readonly]="disabled"
                class="form-control"
                id="description"
                placeholder="Thông tin đính kèm"
                formControlName="description"
                rows="10"
              ></textarea>
            </mat-form-field>
            <div style="margin-top: -20px; margin-bottom: 10px">
              <app-validation
                *ngIf="
                  this.editformGroup_info.get('description')?.errors &&
                  (editformGroup_info.get('description')?.touched ||
                    isSubmitted)
                "
                [formGroup]="editformGroup_info"
                [formGroupControlName]="'description'"
              ></app-validation>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
