<div class="container" style="padding: 0px 0 20px; background-color: #fafafa !important;">
  <div
    style="
      background-color: #2a3650;
      padding: 15px 50px 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    "
  >
    <h2 mat-form-label style="font-weight: heavy; color: white">
      Sửa thông tin người dùng
    </h2>
  </div>

  <div
    class="outlet"
    style="
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column !important;
    "
  >
    <div class="container-controller">
      <div
        class="row"
        style="
          display: flex;
          flex-direction: row !important;
          flex-wrap: 1;
          margin-left: 90px !important;
          margin-bottom: 40px !important;
        "
      >
        <div>
          <button
            mat-raised-button
            color="primary"
            (click)="disabled = false"
            *ngIf="disabled"
          >
            Sửa đổi
          </button>
        </div>

        <div style="margin-right: 20px">
          <button
            mat-raised-button
            color="primary"
            (click)="formSubmit_edit_info()"
            *ngIf="!disabled"
          >
            Lưu thay đổi
          </button>
        </div>

        <div style="margin-right: 20px">
          <button
            mat-raised-button
            color="danger"
            (click)="disabled = true"
            *ngIf="!disabled"
          >
            Hủy
          </button>
        </div>

        <div>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="formReset()"
            *ngIf="!disabled"
          >
            Khôi phục ban đầu
          </button>
        </div>
      </div>
    </div>

    <div
      class="row"
      style="
        display: flex;
        flex-direction: column !important;
        flex-wrap: 1;
      "
    >
      <form [formGroup]="editformGroup_info">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 edit-form">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tên tài khoản</mat-label>
                <input
                  matInput
                  [readonly]="true"
                  fullwidth
                  placeholder="Vd: Bồ Công Anh"
                  formControlName="userName"
                  [disabled]="true"
                />
              </mat-form-field>

              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('userName')?.errors &&
                    (editformGroup_info.get('userName')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'userName'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Email liên lạc</mat-label>
                <input
                  matInput
                  [readonly]="true"
                  placeholder="Vd: abc@gmail.com"
                  formControlName="email"
                  [disabled]="true"
                />
              </mat-form-field>

              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('email')?.errors &&
                    (editformGroup_info.get('email')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'email'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Số điện thoại liên lạc</mat-label>
                <input
                  matInput
                  [readonly]="disabled"
                  placeholder="Vd: 0123456789"
                  formControlName="phoneNumber"
                />
              </mat-form-field>
              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('phoneNumber')?.errors &&
                    (editformGroup_info.get('phoneNumber')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'phoneNumber'"
                ></app-validation>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 edit-form">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Địa chỉ trụ sở</mat-label>
                <input
                  matInput
                  [readonly]="disabled"
                  placeholder="Vd: 43 Nguyễn Chí Thanh"
                  formControlName="address"
                />
              </mat-form-field>
              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('address')?.errors &&
                    (editformGroup_info.get('address')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'address'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Vai trò</mat-label>
                <select matNativeControl required formControlName="role">
                  <option value="-1">Khóa tài khoản</option>
                  <option value="0">Mới</option>
                  <option value="1">Người dùng</option>
                  <option value="2">Nhân viên đang chờ duyệt</option>
                  <option value="3">Nhân viên quản lý</option>
                  <option value="4">Quản lý trưởng</option>
                </select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tên người dùng</mat-label>
                <input
                  matInput
                  [readonly]="disabled"
                  placeholder="Vd: ABC"
                  formControlName="fullName"
                />
              </mat-form-field>
              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.editformGroup_info.get('fullName')?.errors &&
                    (editformGroup_info.get('fullName')?.touched || isSubmitted)
                  "
                  [formGroup]="editformGroup_info"
                  [formGroupControlName]="'fullName'"
                ></app-validation>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
