<div class="container">
  <div class="below-title">
    <span *ngIf="this.schedule?.address !== undefined"
      ><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ:
      <span style="font-weight: lighter">{{
        this.schedule?.address
      }}</span></span
    >
    <span *ngIf="this.schedule?.startingPlace !== undefined"
      ><i class="fa fa-map-marker" aria-hidden="true"></i> Điểm bắt đầu:
      <span style="font-weight: lighter">{{
        this.schedule?.startingPlace
      }}</span></span
    >
    <span *ngIf="this.schedule?.headingPlace !== undefined"
      ><i class="fa fa-location-arrow" aria-hidden="true"></i> Điểm đến:
      <span style="font-weight: lighter">{{
        this.schedule?.headingPlace
      }}</span></span
    >
    <span *ngIf="this.schedule?.vehicleType !== undefined">
      <i
        class="fa fa-bus"
        aria-hidden="true"
        *ngIf="isMovingContactPresent"
      ></i>
      <i class="fa fa-plane" aria-hidden="true" *ngIf="isPlanePresent"></i>
      <i class="fa fa-train" aria-hidden="true" *ngIf="isTrainPresent"></i>
    </span>
  </div>

  <div class="tour-description">
    <app-tiny-mce-editor
      style="width: 90% !important"
      [blobName]="this.scheduleId"
      [containerName]="getContainerName()"
      [editable]="false"
    ></app-tiny-mce-editor>
  </div>

  <div class="tour-description">
    <h4 class="tour-name">Hướng dẫn viên</h4>
    Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 1 ngày trước khi khởi
    hành để sắp xếp giờ đón và cung cấp các thông tin cần thiết cho chuyển đi.
  </div>

  <div class="tour-description">
    <div class="title">
      <h4 class="tour-name">Chi tiết giá</h4>
    </div>
    <mat-tab-group>
      <mat-tab label="Giá bao gồm">
        <div class="price-container">
          <p>
            <span style="font-weight: bold">Tổng giá:</span>
            {{ getTotalPrice() }}.
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Giá không bao gồm">
        <div class="price-container">
          <div class="price-container">
            <mat-list>
              <mat-list-item
                *ngFor="let instruction of getPriceInstruction(); index as i"
              >
                <span  matListItemLine class="list-item">
                  {{ i + 1 + ". " + instruction.description }}</span
                >
              </mat-list-item>
            </mat-list>
          </div>
        </div></mat-tab
      >
      <mat-tab label="Lưu ý">
        <div class="price-container">
          <mat-list>
            <mat-list-item
              *ngFor="let instruction of getCautionInstruction(); index as i"
            >
              <span matListItemLine class="list-item">
                {{ i + 1 + ". " + instruction.description }}</span
              >
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="tour-description">
    <div class="title">
      <h4 class="tour-name">Danh sách lịch trình hiện có:</h4>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Ngày bắt đầu</th>
          <th scope="col">Ngày kết thúc</th>
          <th scope="col">Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeLine of schedule.serviceScheduleList; index as i">
          <td scope="row">{{ i + 1 }}</td>
          <td scope="row">{{ getDateFormat(timeLine.startDate) }}</td>
          <td>
            {{ getDateFormat(timeLine.endDate) }}
          </td>
          <th>{{ getStatusPhase((timeLine.status ?? "").toString()) }}</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tour-description">
    <div class="register-container">
      <div
        class="row tour-register"
        [formGroup]="setTourForm"
        style="height: fit-content !important"
      >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-form">
          <h4 class="tour-name">Đặt vé ngay</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Họ & tên</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Bồ Công Anh"
              formControlName="name"
            />
          </mat-form-field>
          <app-validation
            *ngIf="this.setTourForm.get('name')?.touched"
            [formGroup]="setTourForm"
            [formGroupControlName]="'name'"
          ></app-validation>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Địa chỉ</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Bồ Công Anh"
              formControlName="address"
            />
          </mat-form-field>
          <app-validation
            *ngIf="this.setTourForm.get('address')?.touched"
            [formGroup]="setTourForm"
            [formGroupControlName]="'address'"
          ></app-validation>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Email</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: Bồ Công Anh"
              formControlName="email"
            />
          </mat-form-field>
          <app-validation
            *ngIf="this.setTourForm.get('email')?.touched"
            [formGroup]="setTourForm"
            [formGroupControlName]="'email'"
          ></app-validation>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Sđt liên lạc</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: 123456789"
              formControlName="phoneNumber"
            />
          </mat-form-field>
          <app-validation
            *ngIf="this.setTourForm.get('phoneNumber')?.touched"
            [formGroup]="setTourForm"
            [formGroupControlName]="'phoneNumber'"
          ></app-validation>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Số vé</mat-label>
            <input
              matInput
              fullwidth
              placeholder="Vd: 2"
              formControlName="totalTicket"
            />
          </mat-form-field>
          <app-validation
            *ngIf="this.setTourForm.get('totalTicket')?.touched"
            [formGroup]="setTourForm"
            [formGroupControlName]="'totalTicket'"
          ></app-validation>
        </div>

        <div
          class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form"
          style="margin-bottom: 10px"
        >
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Lịch trình</mat-label>
            <mat-select required formControlName="serviceScheduleId">
              <mat-option
                *ngFor="let timeLine of schedule?.serviceScheduleList"
                [value]="timeLine.id"
              >
                {{ getDateFormat(timeLine.startDate) + " - " + getDateFormat(timeLine.endDate)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-form">
          <button
            mat-flat-button
            color="primary"
            style="width: 100%"
            (click)="register()"
          >
            Gửi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
