.outlet {
  background-color: #fafafa;
  padding: 30px 50px 0px;
}

.container {
  width: 100%;
}

.container-controller {
  padding: 20px 110px 20px !important;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.edit-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.input-group {
  width: 100% !important;
  margin-bottom: 0px;
}

.full-width-input {
  width: 80% !important;
  margin-bottom: 0px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  margin-bottom: -1em;
}

mat-error {
  margin-top: -5px;
  margin-bottom: 10px;
}
