<div class="search-container">
  <div class="tour-search">
    <div
      class="row"
      [formGroup]="setTourForm"
      style="height: fit-content !important"
    >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-form">
        <h4 class="tour-name">Đặt vé ngay</h4>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Bạn muốn đi đâu</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: Bồ Công Anh"
            formControlName="name"
          />
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'name'"
        ></app-validation>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Nơi bắt đầu</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: Bồ Công Anh"
            formControlName="startingPlace"
          />
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'startingPlace'"
        ></app-validation>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Ngày bắt đầu</mat-label>
          <input
            matInput
            [ngxMatDatetimePicker]="picker"
            placeholder="Choose a date"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="$any(picker)"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #picker
            [showSpinners]="true"
            [showSeconds]="true"
            [touchUi]="touchUi"
            [color]="color"
            [enableMeridian]="enableMeridian"
          >
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'startDate'"
        ></app-validation>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 create-form">
        <button
          mat-raised-button
          color="primary"
          style="height: 56px; font-size: 14px"
        >
          Tìm
        </button>
      </div>
    </div>
  </div>
</div>

<div class="page-info-container">
  <div class="page-info">
    <div class="page-info-image">
      <img src="https://bookstore1storage.blob.core.windows.net/0-container/tour-guide.png" alt=""> 
    </div>
    <div class="info-description">
      <h3>Hệ thống tour đa dạng</h3>
      <h4>Bao phủ các tour trong và ngoài nước</h4>
    </div>
  </div>

  <div class="page-info">
    <div class="page-info-image">
      <img src="https://bookstore1storage.blob.core.windows.net/0-container/trust.png" alt=""> 
    </div>
    <div class="info-description">
      <h3>Độ tin cậy cao</h3>
      <h4>Liên kết với các đơn vị tin cậy, trung thành</h4>
    </div>
  </div>

  <div class="page-info">
    <div class="page-info-image">
      <img src="https://bookstore1storage.blob.core.windows.net/0-container/live-chat.png" alt=""> 
    </div>
    <div class="info-description">
      <h3>Tư Vấn Chuyên Nghiệp</h3>
      <h4>Hỗ trợ nhiệt tình, chăm sóc chu đáo</h4>
    </div>
  </div>
</div>

<div>
  <app-tourish-pack *ngFor="let category of categoryList" [category]="category.name" [description]="category.description"></app-tourish-pack>
</div>
