<mat-card
  class="example-card"
  (click)="navigateToDetail()"
  [style.width]="cardWidth + '%'"
>
  <mat-card-content>
    <div
      style="
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      "
    >
      <div class="image-container">
        <img
          mat-card-image
          src="{{ this.firstImageUrl }}"
          alt="Photo of a Shiba Inu"
        />
      </div>

      <div class="schedule-content">
        <p class="tour-name">{{ getTourName(scheduleName) }}</p>

        <div class="schedule-content-info" *ngIf="startingPlace.length > 0">
          <div class="destination">
            <p class="schedule-place">{{ startingPlace }}</p>
          </div>

          <i class="fa fa-arrow-right" aria-hidden="true" style="font-size: 16px;"></i>

          <div class="destination">
            <p class="schedule-place">{{ headingPlace }}</p>
          </div>
        </div>

        <div class="schedule-content-info" *ngIf="startingPlace.length > 0">
          <div class="destination">
            <p class="schedule-title">Lịch trình gần nhất</p>
          </div>

          <div class="destination"></div>
        </div>

        <div class="schedule-content-info" *ngIf="startingPlace.length > 0">
          <div class="destination">
            <p *ngFor="let schedule of serviceScheduleList">
              {{ getDateFormat(schedule.startDate.toString()) }}
            </p>
          </div>
          <div class="destination">
            <p *ngFor="let schedule of serviceScheduleList" style="text-align: end !important;">
              {{ getDateFormat(schedule.endDate.toString()) }}
            </p>
          </div>
        </div>

        <div class="schedule-content-info" *ngIf="address.length > 0">
          <div class="destination">
            <p class="schedule-place">{{ address }}</p>
            <p class="schedule-title">Lịch trình gần nhất</p>
            <p *ngFor="let schedule of serviceScheduleList.slice(0, 2)">
              {{ getDateFormat(schedule.startDate.toString()) }}
            </p>
          </div>
        </div>

        <div>
          <div
            style="
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
            "
          >
            <p class="tour-price">{{ schedulePrice }}đ</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
