<mat-card class="example-card" (click)="navigateToDetail()">
  <div class="image-container">
    <img
      mat-card-image
      src="{{ this.firstImageUrl }}"
      alt="Photo of a Shiba Inu"
    />
  </div>
  <mat-card-content>
    <p class="tour-name">{{ getTourName(scheduleName) }}</p>

    <div
      class="row"
      style="
        margin-left: 5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        margin-top: 20px;
      "
    >
      <p class="tour-price">{{ schedulePrice }}đ</p>
      <p class="tour-history">{{ customerNumber }} khách đã đặt</p>
    </div>
  </mat-card-content>
</mat-card>
