.notify-pack {
  overflow-y: auto !important;
  height: 100% !important; 
}

.single-notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px 2px;
}

.image img {
  height: 80px;
  width: 80px;
}

.image {
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  margin-bottom: 20px;
  margin-right: 10px;
}

.single-notification .content {
  display: flex;
  flex-direction: row;
}

.single-notification .content {
  display: flex;
  flex-direction: column;
}

.single-notification .content .content-description {
  display: flex;
  flex-direction: row;
}

.single-notification .content .content-description span {
  font-weight: 500;
  font-size: 16px;
}

.single-notification .time {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.single-notification .time span {
  font-weight: lighter;
  font-size: 14px;
}

app-notification-single {
  width: 350px;
}

.notify-pack {
  width: 100%;
}