.example-card {
    height: fit-content;
    white-space: nowrap;
    max-height: 150px;
    width: 100%;
}

.example-card:hover {
    cursor: pointer;
}

.tour-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.tour-judge {
    font-size: 14px;
    margin-bottom: 0px !important; 
}

.tour-history {
    font-size: 14px;
    font-weight: bold;
    color: #d31818;
    background-color: #FCEAEA;
    padding: 5px 5px 5px 5px;
}

.tour-price {
    font-size: 24px;
    font-weight: bold;
    color: #F79321;
    right: 0 !important;
    margin-right: 10px; 
}

img {
    max-height: 120px;
}

.image-container {
    max-width: 220px;
    margin-right: 20px;
}