<mat-card class="example-card" (click)="navigateToDetail()">
  <mat-card-content>
    <div
      style="
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      "
    >
      <div class="image-container">
        <img
          mat-card-image
          src="{{ this.firstImageUrl }}"
          alt="Photo of a Shiba Inu"
        />
      </div>

      <div>
        <p class="tour-name">{{ getTourName(tourName) }}</p>
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
          "
        >
          <mat-card
            *ngIf="judgeNumber > 0"
            style="
              width: 40px;
              height: 20px;
              text-align: center;
              color: white;
              margin-right: 7px;
              padding-top: 2px;
            "
            [ngStyle]="{ 'background-color': getRateColor(score) }"
            >{{ score + " / 5" }}</mat-card
          >
          <p
            class="tour-judge"
            style="margin-right: 7px; font-style: italic; font-weight: bold"
          >
            {{ getRateString(score) }}
          </p>
          <p class="tour-judge" style="margin-right: 7px" *ngIf="judgeNumber > 0">|</p>
          <p class="tour-judge" *ngIf="judgeNumber > 0">{{ judgeNumber }} đánh giá</p>
        </div>

        <div style="display: flex; flex-direction: row; align-items: center">
          <p class="tour-price">{{ formatVNCurrency(tourPrice) }}</p>
          <p class="tour-history">{{ customerNumber }} khách đã đặt</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
