* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.container-fluid {
  display: flex;
  min-height: 105px;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  transition: 0.5s !important;
  opacity: 1;
  top: 0;
  padding-bottom: 8px;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-title:hover {
  cursor: pointer;
}

::ng-deep .notification.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: 400px !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.container-fluid::after {
  content: "";
  clear: both;
  display: table;
}

.container-fluid
  div:not(.sidenav)
  div:not(.autocomplete-search)
  div:not(.searchContent) {
  padding-right: 20px !important;
}

img.img-logo {
  max-width: 50px;
  max-height: 50px;
}

.searchInput {
  width: 800px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .row img {
  position: absolute;
  margin-top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 100% !important;
  border: 2px solid rgb(90, 87, 119);
}

img.img-logo:hover {
  width: 80px !important;
  height: 80px !important;
  border: 3px solid #3f51b5 !important;
}

img.img-logo {
  width: 70px !important;
  height: 70px !important;
  padding: 5px;
}

.title-nav {
  background-color: #2a3650;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 105px;
}

.notification-panel {
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  word-break: keep-all !important;
  height: 100%;
  display: block;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #ffffff;
  /* overflow-y: auto; */
  transition: 0.5s;
  overflow-y: hidden;

  flex-direction: column;
  display: flex;
  align-items: center;
  flex-grow: 0;

  opacity: 1;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden !important;
}

.nowrap {
  flex-wrap: nowrap !important; /* Prevent wrapping of items */
}

.notification-panel .title {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
  border-bottom: 2px solid #f3f3f3;
  width: 100%;
}

.notification-panel .title h2 {
  text-wrap: nowrap;
}

.sidenav {
  background-color: #2a3650 !important;
  /* box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  word-break: keep-all !important; */
  height: 100%;
  display: block;
  width: 70px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden !important;
  overflow-y: auto;
  transition: 0.5s;
  /* flex-direction: column;
  display: flex;
  align-items: center;
  flex-grow: 0; */
  opacity: 1;
  margin-bottom: 20px;
}

.sidenav .sideNavContent {
  overflow-y: auto;
  height: auto;
  width: 100%;
  padding: 0 0 20px 0;
  background-color: #2a3650 !important;
}

.sidenav .sideNavContent .sidenavCategory {
  background-color: #2a3650 !important;
  white-space: nowrap;
  width: 100%;
  flex-direction: column;
  display: flex;
  overflow-x: hidden !important;
  margin-bottom: 15px;
  border-bottom: 1px solid #666666;
}

mat-expansion-panel {
  background-color: #2a3650 !important;
}

.sidenav .sideNavContent .sidenavCategory:first-child {
  border-top: 1px solid #666666;
}

.autocomplete-search {
  height: 0%;
  width: 70%;
  position: absolute;
  padding-right: 0 !important;
  z-index: 2;
  top: 50px;
  background-color: #ffffff;
  overflow-y: hidden;
  transition: 0.1s;
  flex-direction: column;
  display: flex;
  opacity: 1;
  margin-top: 10px;
  padding-bottom: 0 !important;
  justify-content: center;
  align-items: center;
  border-end-end-radius: 5px;
  border-bottom-left-radius: 5px;
}

.autocomplete-search h6 {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
  text-align: center;
}

.autocomplete-search h6#search-title {
  font-weight: bolder !important;
}


.autocomplete-search .searchContent {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #727889;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.full-width-input {
  width: 95% !important;
}

button {
  font-size: 16px;
  font-weight: bolder;
  color: #6b7383;
  text-align: left;
}


button.nav-button {
  font-size: 16px;
  font-weight: bolder;
  color: #6b7383;
  text-align: left;

  padding-left: 35px;
  text-wrap: nowrap;
}

button:hover {
  background-color: #374462;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 16px !important;
}

.nav-pills .nav-link.active {
  color: white; /* Font color when active */
  background-color: #374462;
  width: 100%;
}

.button-wrap {
  margin-right: 20px;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
  min-width: 28px !important;
}

::ng-deep .mat-expansion-panel-header-description, 
::ng-deep .mat-expansion-indicator::after {
    color: white;
}

/* Add padding to move the label and input into the center to prevent overlapping the rounded border */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 32px !important;
}

@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
  .searchInput {
    max-width: 400px !important;
  }
}

@media screen and (max-height: 1300px) {
  .sidenav a {
    font-size: 18px;
  }

  .searchInput {
    max-width: 300px !important;
  }

  .container-fluid {
    justify-content: center;
  }
}

@media screen and (max-height: 1400px) {
  .searchInput {
    max-width: 380px !important;
  }

  .container-fluid {
    justify-content: space-evenly;
  }
}
