.outlet{
    background-color: #FAFAFA;
    padding: 30px 50px 0px;
}

.container-controller {
    padding: 20px 110px 20px !important;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

.edit-form{
   
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-group{
    width: 100% !important; 
}

.full-width-input {
    width: 80% !important;
}

mat-error {
    margin-top: -5px;
    margin-bottom: 10px;
}