<form>
  <mat-form-field appearance="outline" class="full-width-input">
    <mat-label>Lựa chọn đối tác</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row
        *ngFor="let stayingSchedule of stayingScheduleNameList"
        (removed)="remove(stayingSchedule)"
        style="font-size: 16px"
      >
        {{ stayingSchedule }}
        <button matChipRemove [attr.aria-label]="'remove ' + stayingSchedule">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      *ngIf="stayingScheduleNameList.length < 1"
      placeholder="Chọn tour"
      #stayingScheduleInput
      [formControl]="stayingScheduleCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
      (optionsScroll)="onScroll($event)"
    >
      <mat-option
        *ngFor="let stayingSchedule of data"
        [value]="stayingSchedule"
        [disabled]="isChecked(stayingSchedule)"
      >
        <div>
          <div style="font-weight: bold">
            {{ stayingSchedule.name}}
            <mat-icon>{{ isChecked(stayingSchedule) && "checked" }}</mat-icon>
          </div>

          <small>{{ onDisplayAtr(stayingSchedule) }}</small>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
