<div class="single-notification" #singleNotify>
  <div class="image">
    <img src="{{ avatarUrl }}" alt="Avatar" class="avatar" style="border-radius: 50%;" />
  </div>

  <div class="content">
    <div class="content-description">
      <span [ngStyle]="{'color': !notification.isRead ? '#212121' : '#6D6F72' }"
        ><span style="font-weight: bold" [ngStyle]="{'color': !notification.isRead ? '#212121' : '#6D6F72' }">{{ getCreator(notification) }}</span
        >{{ getContent(notification) }}</span
      >
    </div>
    <div class="time">
      <span [ngStyle]="{'color': !notification.isRead ? '#212121' : '#6D6F72' }">{{ getTime(notification.updateDate ?? "") }}</span>
    </div>
  </div>
</div>
