<div class="pack-container" id="pack-container" #packContainer>
  <div class="tourish-pack-description">
    <h3></h3>
  </div>
  <div class="schedule-pack">
    <app-schedule-search-card
      *ngFor="let schedule of movingScheduleList"
      [id]="schedule.id ?? ''"
      [scheduleName]="schedule.name ?? ''"
      [scheduleType]="1"
      [contactId]="schedule.transportId"
      [schedulePrice]="schedule.singlePrice ?? 0"
      [startDate]="
        getDateString(schedule.startDate)
      "
      [endDate]="
        getDateString(schedule.endDate)
      "
      [startingPlace]="schedule.startingPlace"
      [headingPlace]="schedule.headingPlace"
      style="width: 100%"
    ></app-schedule-search-card>

    <app-schedule-search-card
      *ngFor="let schedule of stayingScheduleList"
      [id]="schedule.id ?? ''"
      [scheduleName]="schedule.name ?? ''"
      [scheduleType]="2"
      [contactId]="schedule.restHouseBranchId"
      [schedulePrice]="schedule.singlePrice ?? 0"
      [startDate]="
        getDateString(schedule.startDate)
      "
      [endDate]="
        getDateString(schedule.endDate)
      "
      style="width: 100%"
    ></app-schedule-search-card>
  </div>

  <div class="tourish-button">
    <button mat-stroked-button style="color: rgb(4, 201, 201); font-size: 16px">
      Xem thêm
    </button>
  </div>
</div>
