<div style="width: 100% !important">
  <mat-card style="margin-bottom: 20px; padding: 10px 10px 10px">
    <mat-card-header>
      <mat-card-title>Danh sách tài khoản</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-tab-group (selectedIndexChange)="onChangeUserType($event)" style="background-color: white;">
    <mat-tab label="Người dùng"> </mat-tab>
    <mat-tab label="Tài khoản nhân viên chờ xét duyệt"> </mat-tab>
    <mat-tab label="Quản lý"> </mat-tab>
  </mat-tab-group>
  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="userList"
      matSort
      matSort
      class="mat-elevation-z8"
      (matSortChange)="announceSortChange($event)"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by id"
        >
          No.
        </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/admin/authorDetail/{{ element.id }}/edit">
            {{ getIndex(element.id) }}</a
          >
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="userName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by userName"
        >
          Tên đối tác
        </th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by email"
        >
          Email
        </th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="phoneNumber">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by phoneNumber"
        >
          Số điện thoại liên lạc
        </th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="address">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by address"
        >
          Địa chỉ trụ sở
        </th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="role">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by role"
        >
          Vai trờ
        </th>
        <td mat-cell *matCellDef="let element">{{ getRolePhase(element.role) }}</td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by createDate"
        >
          Ngày tạo
        </th>
        <td mat-cell *matCellDef="let element">{{ getDateFormat(element.createDate) }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
           <button
            mat-flat-button
            style="background-color: #F5CF3D;"
            (click)="openEditDialog(element.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-flat-button
            color="warn"
            (click)="openDeleteDialog(element.id)"
          >
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.demo-row-is-clicked]=""
      ></tr>
    </table>
  </div>
  <div class="empty" *ngIf="userList.length <= 0">
    <h3>Không tìm được kết quả phù hợp</h3>
  </div>
  <mat-paginator
    [pageSizeOptions]="pageSizeOpstion"
    [length]="length"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
