<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<div class="site-footer" #footerEle>
  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h2>Về chúng tôi</h2>
      <button mat-button (click)="navigateTo('about-us')">Giới thiệu</button>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <h2>Chính sách và điều khoản</h2>
      <button mat-button (click)="navigateTo('policy')">Xem điều khoản</button>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <h2>Liên hệ với chúng tôi</h2>
      <div>
        <span style="font-weight: bold">Bạn cần trợ giúp?</span> Hãy gọi ngay
        CSKH: <span style="font-weight: bold">(035) 432 4598</span>
      </div>
      <div>Thời gian hoạt động: Từ 7h30 - 21h hằng ngày</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text" style="font-style: italic">
        Copyright © 2024 Mọi quyền sở hữu thuộc về <a href="#">Chu Do</a>.
        Email: dochu.quan.ly@gmail.com
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li>
          <a class="facebook" href="https://www.facebook.com/wheremybrain">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="twitter" href="https://x.com/YThouArt">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            class="linkedin"
            href="https://www.linkedin.com/in/%C4%91%C3%B4-chu-532806208/"
          >
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
