<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>

<div class="site-footer" #footerEle>
  <hr />
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text" style="font-style: italic">
        Copyright © 2022 All Rights Reserved by <a href="#">Chu Do</a>. Email:
        dochu8&#64;gmail.com
      </p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li>
          <a class="facebook" href="https://www.facebook.com/wheremybrain">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="twitter" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="dribbble" href="#">
            <i class="fa fa-dribbble"></i>
          </a>
        </li>
        <li>
          <a class="linkedin" href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
