<div class="pack-container" id="pack-container" #packContainer>
  <div class="tourish-pack-description">
    <h3>{{ capitalizeFirstLetter(category)}}</h3>
    <h4>{{description}}</h4>
  </div>
  <div class="tourish-pack">
    <app-tourish-card
      *ngFor="let tour of tourishPLanList"
      [id]="tour.id ?? ''"
      [tourName]="tour.tourName"
      [tourPrice]="getTotalPrice(tour)"
    ></app-tourish-card>
  </div>

  <div class="tourish-button">
    <button mat-stroked-button style="color: rgb(4, 201, 201); font-size: 16px" (click)="navigateCategoryUrl('search-page', this.category)">
      Xem thêm
    </button>
  </div>
</div>
