<div class="container">
  <app-image-slider
    [indicatorsVisible]="true"
    [animationSpeed]="400"
    [slides]="slides"
    [autoPlay]="true"
    [autoPlaySpeed]="6000"
  ></app-image-slider>

  <div class="below-title">
    <span
      ><i class="fa fa-location-arrow" aria-hidden="true"></i> Hồ Chí Minh</span
    >
    <span><i class="fa fa-clock-o" aria-hidden="true"></i> Trong ngày</span>
    <span><i class="fa fa-bus" aria-hidden="true"></i> Phương tiện</span>

    <span id="tour-id"> Mã tour: {{ tourishPlan?.id }}</span>
  </div>

  <div class="tour-description">
    <editor
      #filePickerEditor
      apiKey="your-api-key"
      [ngModel]="tourDescription"
      [init]="this.tinyMceSetting"
      [disabled]="true"
      class="mceNonEditable"
    ></editor>
  </div>

  <div class="tour-description">
    <h4 class="tour-name">Hướng dẫn viên</h4>
    Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách khoảng 1 ngày trước khi khởi
    hành để sắp xếp giờ đón và cung cấp các thông tin cần thiết cho chuyển đi.
  </div>

  <div class="tour-description">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      class="nav-tabs"
      style="margin-bottom: 20px"
    >
      <li [ngbNavItem]="1">
        <button ngbNavLink>Lịch trình ăn uống</button>
        <ng-template ngbNavContent> </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Lịch trình di chuyển</button>
        <ng-template ngbNavContent> </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>Lịch trình nơi ở</button>
        <ng-template ngbNavContent> </ng-template>
      </li>
    </ul>
  </div>

  <div *ngIf="active == 1 && tourishPlan?.eatSchedules != undefined" class="schedule-description">
    <editor
      *ngFor="let eatSchedule of tourishPlan?.eatSchedules"
      [disabled]="true"
      #filePickerEditor
      apiKey="your-api-key"
      [ngModel]="eatSchedule.description"
      [init]="this.tinyMceSetting"
    ></editor>
  </div>

  <div *ngIf="active == 2 && tourishPlan?.movingSchedules != undefined">
    <editor
      *ngFor="let movingSchedule of tourishPlan?.movingSchedules"
      [disabled]="true"
      #filePickerEditor
      apiKey="your-api-key"
      [ngModel]="movingSchedule.description"
      [init]="this.tinyMceSetting"
    ></editor>
  </div>

  <div *ngIf="active == 3 && tourishPlan?.stayingSchedules != undefined">
    <editor
      *ngFor="let stayingSchedule of tourishPlan?.stayingSchedules"
      [disabled]="true"
      #filePickerEditor
      apiKey="your-api-key"
      [ngModel]="stayingSchedule.description"
      [init]="this.tinyMceSetting"
    ></editor>
  </div>

  <div class="tour-description">
    <div
      class="row"
      [formGroup]="setTourForm"
      style="height: fit-content !important"
    >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 create-form">
        <h4 class="tour-name">Đặt vé ngay</h4>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Họ & tên</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: Bồ Công Anh"
            formControlName="name"
          />
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'name'"
        ></app-validation>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Địa chỉ</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: Bồ Công Anh"
            formControlName="address"
          />
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'address'"
        ></app-validation>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Email</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: Bồ Công Anh"
            formControlName="email"
          />
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'email'"
        ></app-validation>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Sđt liên lạc</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: 123456789"
            formControlName="phoneNumber"
          />
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'phoneNumber'"
        ></app-validation>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 create-form">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Số vé</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: 2"
            formControlName="totalTicket"
          />
        </mat-form-field>
        <app-validation
          *ngIf="isSubmit"
          [formGroup]="setTourForm"
          [formGroupControlName]="'totalTicket'"
        ></app-validation>
      </div>
    </div>
  </div>
</div>
