<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container-top" #header>
  <!-- Nav tabs -->
  <div style="display: flex; flex-direction: row; align-items: center">
    <img
      src="{{
        getBlobUrl() +
          '/start-container/tour_logo.png'
      }}"
      class="img-logo"
      style="border: 2px solid black; border-radius: 10px; margin-right: 20px"
    />

    <h3
      style="
        font-size: 35px !important;
        font-family: Brush Script MT;
        padding-top: 16px;
      "
    >
      Roxanne tourist
    </h3>
  </div>

  <div style="display: flex; flex-direction: row; align-items: center">
    <button
      mat-mini-fab
      ghost
      status="primary"
      *ngIf="notifyUnreadNumber <= 0"
      style="background-color: whitesmoke; margin-right: 10px"
      (click)="openNotificationNav()"
    >
      <i
        class="fa fa-bell"
        aria-hidden="true"
        style="font-size: 22px; color: rgb(105, 104, 104)"
      ></i>
    </button>

    <button
      mat-mini-fab
      ghost
      *ngIf="notifyUnreadNumber > 0"
      status="primary"
      matBadge="{{ notifyUnreadNumber }}"
      matBadgeColor="warn"
      style="background-color: whitesmoke; margin-right: 10px"
      (click)="openNotificationNav()"
    >
      <i
        class="fa fa-bell"
        aria-hidden="true"
        style="font-size: 22px; color: rgb(105, 104, 104)"
      ></i>
    </button>
    <mat-menu
      #beforeNotifyMenu="matMenu"
      xPosition="before"
      class="notification"
    >
    </mat-menu>

    <button
      [matMenuTriggerFor]="menu"
      mat-mini-fab
      color="primary"
      style="margin: 0 10px 0"
    >
      <img src="{{ avatarUrl }}" alt="Avatar" class="avatar" />
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="userInfo()">Thông tin tài khoán</button>
    <button mat-menu-item (click)="signOut()">Đăng xuất</button>
  </mat-menu>
</div>

<div
  id="mySidenav"
  #mySidenav
  class="sidenav"
  (appOutsideClick)="outsideClick($event)"
>
  <div class="title-nav">
    <h6
      *ngIf="isNavOpen"
      style="
        font-size: 24px;
        font-weight: bolder;
        color: white;
        padding: 20px 0px 10px;
        white-space: nowrap;
      "
    >
      Danh mục quản lý
    </h6>

    <button
      mat-stroked-button
      (click)="navMenuClick()"
      style="margin-right: 10px"
    >
      <i
        class="fa fa-bars"
        style="font-size: 22px; color: rgb(105, 104, 104)"
        aria-hidden="true"
      ></i>
    </button>
  </div>

  <div class="sideNavContent" style="width: 100%" *ngIf="isNavOpen">
    <div class="sidenavCategory">
      <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'0th'">
            <button
            style="padding-top: 10px; padding-bottom: 10px; font-size: 20px;"
              ngbNavLink
              (click)="navigateUrl('dash-board')"
            >
            <i class="fa fa-tachometer" aria-hidden="true"></i>
             Dashboard
            </button>
          </ng-container>
        </div>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Kế hoạch du lịch
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'2nd'">
            <button ngbNavLink (click)="navigateUrl('tourish-plan/create')">
              Tạo mới
            </button>
          </ng-container>

          <ng-container [ngbNavItem]="'1st'">
            <button ngbNavLink (click)="navigateUrl('tourish-plan/list')">
              Danh sách
            </button>
          </ng-container>

          <ng-container [ngbNavItem]="'3rd'">
            <button ngbNavLink (click)="navigateUrl('tour/category/list')">
              Thể loại
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Dịch vụ di chuyển
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'4th'">
            <button
              ngbNavLink
              (click)="navigateUrl('transport/moving-contact/list')"
            >
              Danh sách đối tác
            </button>
          </ng-container>

          <ng-container [ngbNavItem]="'12th'">
            <button ngbNavLink (click)="navigateUrl('transport/service/list')">
              Dịch vụ ngoài tour
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Dịch vụ nơi ở
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'5th'">
            <button
              ngbNavLink
              (click)="navigateUrl('resthouse/rest-house-contact/list')"
            >
              Danh sách đối tác
            </button>
          </ng-container>

          <ng-container [ngbNavItem]="'13th'">
            <button ngbNavLink (click)="navigateUrl('resthouse/service/list')">
              Dịch vụ ngoài tour
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Đối tác DV ăn uống
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'6th'">
            <button ngbNavLink (click)="navigateUrl('restaurant/list')">
              Nhà hàng
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Hóa đơn
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'7th'">
            <button ngbNavLink (click)="navigateUrl('receipt/list')">
              Hóa đơn Tour
            </button>
          </ng-container>

          <ng-container ngbNavItem="14th">
            <button ngbNavLink (click)="navigateUrl('moving/receipt/list')">
              Hóa đơn vé di chuyển
            </button>
          </ng-container>

          <ng-container ngbNavItem="15th">
            <button ngbNavLink (click)="navigateUrl('staying/receipt/list')">
              Hóa đơn đặt khách sạn/Homestay
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Nhân viên
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'8th'">
            <button ngbNavLink (click)="navigateUrl('user/list')">
              Danh sách nhân viên
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Yêu cầu tư vấn
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'9th'">
            <button ngbNavLink (click)="navigateUrl('chat/list')">
              Danh sách yêu cầu
            </button>
          </ng-container>
          <ng-container [ngbNavItem]="'10th'">
            <button ngbNavLink (click)="navigateUrl('chat/display')">
              Tư vấn
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="sidenavCategory">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6
              style="
                font-size: 16px;
                padding-bottom: 0 !important;
                font-weight: bold;
                margin-bottom: 0 !important;
                color: whitesmoke;
              "
            >
              Thông báo
            </h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          ngbNav
          #nav="ngbNav"
          [(activeId)]="activeItem"
          class="nav-pills flex-column"
          orientation="vertical"
        >
          <ng-container [ngbNavItem]="'11th'">
            <button ngbNavLink (click)="navigateUrl('notification/list')">
              Danh sách thông báo
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>

<div
  id="myNotification"
  #notificationTab
  class="notification-panel nowrap"
  (appOutsideClick)="outsideNotificationClick($event)"
>
  <div class="title nowrap">
    <h2 mat-form-label style="font-weight: heavy; margin-bottom: 0 !important">
      Thông báo
    </h2>
    <div class="button-wrap">
      <button mat-mini-fab color="accent" (click)="closeNotificationNav()">
        <i class="fa fa-times" aria-hidden="true" style="color: white"></i>
      </button>
    </div>
  </div>
  <app-notification-pack
    style="height: 90%"
    (notifyUnreadNumber)="setNotifyUnread($event)"
    [isNotifyOpen]="isNotifyOpen"
  ></app-notification-pack>
</div>
