<div class="big-chat-container">
  <div class="chat-container">
    <div class="chat-content">
      <ng-template
        #chat_send_template
        let-id="id"
        let-sender="sender"
        let-receiver="receiver"
        let-sendTime="sendTime"
        let-content="content"
        let-state="state"
      >
        <div class="chat-send">
          <mat-card>
            <mat-card-content>{{ content }}</mat-card-content>
          </mat-card>
          <mat-label
            ><span class="mess-status">{{ getState(state) }} </span>
            <span *ngIf="state > 0"> - {{ getTime(sendTime) }}</span></mat-label
          >
        </div>
      </ng-template>

      <ng-template
        #chat_receive_template
        let-id="id"
        let-sender="sender"
        let-receiver="receiver"
        let-sendTime="sendTime"
        let-content="content"
        let-state="state"
      >
        <div class="chat-receive">
          <mat-card>
            <mat-card-content>{{ content }}</mat-card-content>
          </mat-card>
          <mat-label
            ><span class="mess-status">{{ getState(state) }} </span>
            <span *ngIf="state > 0"> - {{ getTime(sendTime) }}</span></mat-label
          >
        </div>
      </ng-template>

      <h3
        style="margin-left: 20px; font-weight: bold"
        *ngIf="messageList.length <= 0 && this.connectionId == ''"
      >
        Chọn người dùng để xem lịch sử cuộc hội thoại
      </h3>

      <h3
        style="margin-left: 20px; font-weight: bold"
        *ngIf="messageList.length <= 0 && this.connectionId.length > 0"
      >
        Nhập nội dung cần gửi
      </h3>

      <ng-container *ngFor="let message of messageList">
        <ng-container
          *ngIf="message.side == 1"
          [ngTemplateOutlet]="chat_send_template"
          [ngTemplateOutletContext]="{
            content: message.content,
            sendTime: message.createDate,
            state: message.state,
            sender: 'Heller'
          }"
        ></ng-container>

        <ng-container
          *ngIf="message.side == 2"
          [ngTemplateOutlet]="chat_receive_template"
          [ngTemplateOutletContext]="{
            content: message.content,
            sendTime: message.createDate,
            state: message.state,
            sender: 'Heller'
          }"
        ></ng-container>
      </ng-container>
    </div>

    <div class="chat-input" [formGroup]="messFb">
      <div class="emoji">
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          title="Pick your emoji…"
        ></emoji-mart>
        <button mat-mini-fab (click)="toggleEmojiPicker()">😀</button>
      </div>

      <div style="margin-top: -20px; margin-bottom: 10px">
        <app-validation
          *ngIf="
            this.messFb.get('messsage')?.errors &&
            (messFb.get('messsage')?.touched || isSubmitted)
          "
          [formGroup]="messFb"
          [formGroupControlName]="'messsage'"
        ></app-validation>
      </div>
      <mat-form-field
        appearance="outline"
        class="chat-input-mat"
        style="margin-top: 22px; margin-right: 20px; width: 100%"
      >
        <input
          matInput
          fullwidth
          placeholder="Vd: Bồ Công Anh"
          formControlName="message"
        />
      </mat-form-field>

      <mat-spinner
        [diameter]="40"
        style="margin-left: 10px"
        *ngIf="this.isSending"
      ></mat-spinner>

      <button
        mat-raised-button
        color="danger"
        [disabled]="true"
        *ngIf="!this.isOpen"
        style="font-size: 12px"
      >
        Đã đóng
      </button>

      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="sendMessage()"
        *ngIf="this.isOpen && !this.isSending"
        (keyup.enter)="sendMessage()"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
  <div class="guest-container">
    <app-chat-guest-selector
      *ngFor="let conHis of guestConHistoryList ?? []"
      [guestMessageConHistory]="conHis"
      [isSelected]="conHis.guestMessageCon.connectionID === connectionId"
      (click)="onClickHistory(conHis.guestMessageCon.connectionID)"
    ></app-chat-guest-selector>
  </div>
</div>
