
.chat-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.chat-send {
  margin: 0px 10px 0px 0;
  align-self: flex-end !important;
  align-items: flex-end;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}


.chat-receive {
  margin: 0px 0px 0px 10px;
  align-self: flex-start !important;
  align-items: flex-start;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

.chat-send mat-card {
  background-color: #3084e4;
  color: floralwhite;
}

.chat-send mat-label {
  margin-top: 7px;
  align-self: flex-end;
}

::ng-deep .chat-send mat-card-content {
  font-size: 16px !important;
}

::ng-deep .chat-receive mat-card-content {
  font-size: 16px !important;
}

::ng-deep .mat-mdc-card-content {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.chat-receive mat-label {
  margin-top: 7px;
  align-self: flex-start;
}

.chat-send span.mess-status {
  font-weight: 700 !important;
}

.chat-receive span.mess-status {
  font-weight: 700 !important;
}

mat-card-content {
  word-wrap: break-word !important;
  text-wrap: wrap !important;
  text-align: lèft !important;
}

.chat-receive mat-card {
  background-color: #f0f0f0;
  color: black;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
  min-width: 28px !important;
}

/* Add padding to move the label and input into the center to prevent overlapping the rounded border */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 32px !important;
}
