<div class="chat-container">
  <div class="chat-content">

    <div class="chat-send">
      <mat-card>
        <mat-card-content>Simple card 1231212312 312212312 312321312223</mat-card-content>
      </mat-card>
      <mat-label>Đã gửi 11 giờ</mat-label>
    </div>

    <div class="chat-receive">
      <mat-card>
        <mat-card-content>Simple card 1231212312 312212312 312321312223</mat-card-content>
      </mat-card>
      <mat-label>Đã gửi 11 giờ</mat-label>
    </div>

    <div class="chat-send">
      <mat-card>
        <mat-card-content>Simple card 1231212312 312212312 312321312223</mat-card-content>
      </mat-card>
      <mat-label>Đã gửi 11 giờ</mat-label>
    </div>

    <div class="chat-receive">
      <mat-card>
        <mat-card-content>Simple card 1231212312 312212312 312321312223</mat-card-content>
      </mat-card>
      <mat-label>Đã gửi 11 giờ</mat-label>
    </div>

    <div class="chat-send">
      <mat-card>
        <mat-card-content>Simple card 1231212312 312212312 312321312223</mat-card-content>
      </mat-card>
      <mat-label>Đã gửi 11 giờ</mat-label>
    </div>

    <div class="chat-receive">
      <mat-card>
        <mat-card-content>Simple card 1231212312 312212312 312321312223</mat-card-content>
      </mat-card>
      <mat-label>Đã gửi 11 giờ</mat-label>
    </div>

   

  </div>
  <div class="chat-input">
    <mat-form-field
      appearance="outline"
      class="full-width-input"
      style="margin-top: 22px; margin-right: 20px"
    >
      <input
        matInput
        fullwidth
        placeholder="Vd: Bồ Công Anh"
        formControlName="branchName"
      />
    </mat-form-field>

 

    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
