<div class="chat-container">
  <div class="chat-title">
    <h3>Trò chuyện</h3>
    <button
      *ngIf="!isChatSet"
      mat-button
      style="color: white"
      (click)="chatBoxInteract()"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <button
      *ngIf="isChatSet"
      mat-button
      style="color: white"
      (click)="chatBoxCancel()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div #myChat class="chat-box">
    <div class="chat-content" *ngIf="isChatSet">
      <ng-template
        #chat_send_template
        let-id="id"
        let-sender="sender"
        let-receiver="receiver"
        let-sendTime="sendTime"
        let-content="content"
        let-state="state"
      >
        <div class="chat-send">
          <mat-card>
            <mat-card-content>{{ content }}</mat-card-content>
          </mat-card>
          <mat-label
            ><span class="mess-status">{{ getState(state) }} </span> -
            <span>{{ getTime(sendTime) }}</span></mat-label
          >
        </div>
      </ng-template>

      <ng-template
        #chat_receive_template
        let-id="id"
        let-sender="sender"
        let-receiver="receiver"
        let-sendTime="sendTime"
        let-content="content"
        let-state="state"
      >
        <div class="chat-receive">
          <mat-card>
            <mat-card-content>{{ content }}</mat-card-content>
          </mat-card>
          <mat-label
            ><span class="mess-status">{{ getState(state) }} </span> -
            <span>{{ getTime(sendTime) }}</span></mat-label
          >
        </div>
      </ng-template>

      <ng-container *ngFor="let message of messageList" style="width: 100%">
        <app-send-chat
          *ngIf="message.side == 1"
          [content]="message.content"
          [sendTime]="message.createDate ?? ''"
          [state]="message.state ?? 3"
        ></app-send-chat>

        <app-receive-chat
          *ngIf="message.side == 2"
          [content]="message.content"
          [sendTime]="message.createDate ?? ''"
          [state]="message.state ?? 3"
        ></app-receive-chat>
      </ng-container>
    </div>

    <div class="chat-input" [formGroup]="messFb" *ngIf="isChatSet">
      <div class="emoji">
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          title="Pick your emoji…"
        ></emoji-mart>
        <button mat-mini-fab (click)="toggleEmojiPicker()">😀</button>
      </div>

      <mat-form-field appearance="outline" class="chat-input-mat">
        <input
          matInput
          fullwidth
          style="font-size: 12px; height: 12px"
          placeholder="Vd: Bồ Công Anh"
          formControlName="message"
        />
      </mat-form-field>

      <mat-spinner
        [diameter]="20"
        *ngIf="!this.isOpen || this.isSending"
      ></mat-spinner>

      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="sendMessage()"
        [disabled]="!this.isOpen || this.isSending"
        (keyup.enter)="sendMessage()"
        *ngIf="this.isOpen && !this.isSending"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>

    <div class="chat-form" [formGroup]="messRegister" *ngIf="!isChatSet">
      <div class="chat-form-field">
        <mat-form-field appearance="outline" class="chat-input-mat">
          <mat-label>Tên</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: Bồ Công Anh"
            formControlName="guestName"
          />
        </mat-form-field>

        <div style="margin-top: -30px">
          <app-validation
            *ngIf="
              this.messRegister.get('guestName')?.errors &&
              (messRegister.get('guestName')?.touched || isSubmitted)
            "
            [formGroup]="messRegister"
            [formGroupControlName]="'guestName'"
          ></app-validation>
        </div>
      </div>

      <div class="chat-form-field">
        <mat-form-field appearance="outline" class="chat-input-mat">
          <mat-label>Email</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: boconganh@gmail.com"
            formControlName="guestEmail"
            [readonly]="checkUserRole()"
          />
        </mat-form-field>

        <div style="margin-top: -30px">
          <app-validation
            *ngIf="
              this.messRegister.get('guestEmail')?.errors &&
              (messRegister.get('guestEmail')?.touched || isSubmitted)
            "
            [formGroup]="messRegister"
            [formGroupControlName]="'guestEmail'"
          ></app-validation>
        </div>
      </div>

      <div class="chat-form-field">
        <mat-form-field appearance="outline" class="chat-input-mat">
          <mat-label>Số điện thoại</mat-label>
          <input
            matInput
            fullwidth
            placeholder="Vd: 123123123"
            formControlName="guestPhoneNumber"
          />
        </mat-form-field>

        <div style="margin-top: -30px">
          <app-validation
            *ngIf="
              this.messRegister.get('guestPhoneNumber')?.errors &&
              (messRegister.get('guestPhoneNumber')?.touched || isSubmitted)
            "
            [formGroup]="messRegister"
            [formGroupControlName]="'guestPhoneNumber'"
          ></app-validation>
        </div>
      </div>

      <div class="chat-form-field">
        <mat-form-field appearance="outline" class="chat-input-mat">
          <mat-label>Chat với bot</mat-label>
          <mat-select formControlName="isChatWithBot">
            <mat-option [value]="0">Không</mat-option>
            <mat-option [value]="1">Có</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="width: 80%">
        <button
          mat-flat-button
          color="primary"
          style="width: 100%"
          (click)="openSignalRHub()"
          [disabled]="isWaitingForSet"
        >
          {{ isWaitingForSet ? "Vui lòng chờ" : "Nhận tư vấn" }}
        </button>
      </div>
    </div>
  </div>
</div>
