.container-fluid {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    background-color: #FAFAFA;
    min-height: 100% !important;
    padding-left: 3%;
    padding-right: 3%;
    transition: 0.5s;
    width: 100%;
  }
  
  #admin-main {
    transition: 0.5s;
    opacity: 1;
    margin-left: 340px;  
    height: 75%;
  }

  @media only screen and (min-height: 900px) {
    .container-fluid {
      min-height: 760px !important;
    }
  }
  
  @media only screen and (max-height: 680px) {
    .container-fluid {
      min-height: 560px !important;
    }
  }
  