/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  min-height: 600px;
}

.full-width-input {
  height: fit-content !important;
  margin-bottom: 20px;
}

.validation-container {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}

.row {
  margin-left: 30px !important;
  margin-right: 0 !important;
}


