<mat-card class="example-card">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p class="tour-name">{{tourName}}</p>

    <div
      class="row"
      style="
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      "
    >
      <mat-card
        style="
          width: 30px;
          height: 20px;
          text-align: center;
          color: white;
          margin-right: 7px;
          padding-top: 2px;
        "
        [ngStyle]="{'background-color': getRateColor(score)}"
        >{{score}}</mat-card
      >
      <p class="tour-judge" style="margin-right: 7px; font-style: italic; font-weight: bold;">{{getRateString(score)}}</p>
      <p class="tour-judge" style="margin-right: 7px">|</p>
      <p class="tour-judge">{{judgeNumber}} đánh giá</p>
    </div>

    <div
      class="row"
      style="
        margin-left: 5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        margin-top: 20px;
      "
    >
    <p class="tour-price">{{tourPrice}}đ</p>
      <p class="tour-history">{{customerNumber}} khách đã đặt</p>
      
    </div>
  </mat-card-content>
</mat-card>
