<div style="width: 100% !important">
  <mat-card style="margin-bottom: 20px; padding: 10px 10px 10px">
    <mat-card-header>
      <mat-card-title>Danh sách hóa đơn</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <div style="display: flex; align-items: center; width: 100% !important">
        <button mat-raised-button (click)="openAddDialog()" class="add-button">
          Thêm hóa đơn
        </button>

        <app-staying-schedule-select-autocomplete
        style="width: 40% !important"
          (result)="selectChangeReceipt($event)"
        >
        </app-staying-schedule-select-autocomplete>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-tab-group
    (selectedIndexChange)="tourStatusChange($event)"
    style="background-color: white"
  >
    <mat-tab label="Hóa đơn mới tạo"> </mat-tab>
    <mat-tab label="Hóa đơn chờ thanh toán"> </mat-tab>
    <mat-tab label="Hóa đơn đã hoàn thành"> </mat-tab>
    <mat-tab label="Hóa đơn đã hủy"> </mat-tab>
  </mat-tab-group>

  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="receiptList"
      matSort
      class="mat-elevation-z8"
      (matSortChange)="announceSortChange($event)"
      multiTemplateDataRows
    >
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by id"
        >
          No.
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getIndex(element.totalReceiptId) }}
        </td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Tên dịch vụ
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.stayingSchedule.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="placeName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by placeName"
        >
          Đơn vị cung cấp dịch vụ
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.stayingSchedule.placeName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="supportNumber">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by supportNumber"
        >
          Số điện thoại
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.stayingSchedule.supportNumber }}
        </td>
      </ng-container>

      <!-- SS Column -->
      <ng-container matColumnDef="singlePrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Giá đơn vé</th>
        <td mat-cell *matCellDef="let element">
          {{ getTotalPrice(element.stayingSchedule) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by createDate"
        >
          Ngày tạo
        </th>
        <td mat-cell *matCellDef="let element">{{ getDateFormat(element.createdDate) }}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedElement !== element"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedElement === element"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- "guestName",
      "phoneNumber",
      "totalTicket",
      "discountFloat",
      "discountAmount", -->

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container
        matColumnDef="expandedDetail"
        style="width: 100% !important"
      >
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumnsWithExpand.length"
        >
          <div
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
            style="margin-left: auto"
          >
            <div
              class="example-element-diagram"
              style="display: flex; flex-direction: row"
              *ngFor="let fullReceipt of element.fullReceiptList; index as i"
            >
              <div class="receipt-info" style="width: 70px !important; min-width: 70px !important">
                <span style="font-weight: bold">STT</span>
                <div>{{ i + 1 }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Tên khách</span>
                <div>{{ fullReceipt.guestName }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Email</span>
                <div>{{ fullReceipt.email }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">SĐT</span>
                <div>{{ fullReceipt.phoneNumber }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold"
                  >Số vé (Người lớn > 10 tuổi)</span
                >
                <div>{{ fullReceipt.totalTicket }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Số vé (Trẻ em)</span>
                <div>{{ fullReceipt.totalChildTicket }}</div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Tổng giá</span>
                <div>
                  {{
                    getTotalPriceReceipt(element.stayingSchedule, fullReceipt)
                  }}
                  đ
                </div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Ngày hoàn thành</span>
                <div>
                  {{ getDateFormat(fullReceipt.completeDate ?? "") }}
                </div>
              </div>
              <div class="receipt-info">
                <span style="font-weight: bold">Tình trạng</span>
                <div
                  [style.color]="getPaymentStatusColor(fullReceipt.status + '')"
                >
                  {{ getPaymentStatus(fullReceipt.status + "") }}
                </div>
              </div>
              
              <div class="receipt-button">
                <button mat-flat-button (click)="openEditDialog(fullReceipt.fullReceiptId)" style="background-color: #ffd740;">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </div>

              <div class="receipt-button">
               <button
                  mat-flat-button
                  color="warn"
                  (click)="openDeleteDialog(fullReceipt.fullReceiptId)"
                >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>      
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumnsWithExpand"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="pageSizeOpstion"
    [length]="length"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
