<div class="container" style="padding: 0px 0 20px">
  <div
    style="
      background-color: #2a3650;
      padding: 15px 50px 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    "
  >
    <h2 mat-form-label style="font-weight: heavy; color: white">
      Thêm thông tin đối tác xe chở khách
    </h2>

    <button
      mat-button
      style="color: white; margin-bottom: 16px"
      (click)="closeDialog()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>

  <div
    class="outlet"
    style="
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column !important;
    "
  >
    <div class="container-controller">
      <div
        class="row"
        style="
          display: flex;
          flex-direction: row !important;
          flex-wrap: 1;
          margin-left: 90px !important;
          margin-bottom: 20px !important;
        "
      >
        <div style="margin-right: 20px">
          <button
            mat-raised-button
            color="primary"
            (click)="formSubmit_create_info()"
          >
            Lưu thay đổi
          </button>
        </div>

        <div>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="formReset()"
          >
            Khôi phục ban đầu
          </button>
        </div>
      </div>
    </div>
    <div
      class="row"
      style="display: flex; flex-direction: column !important; flex-wrap: 1"
    >
      <form [formGroup]="createformGroup_info">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tên dịch vụ</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Bồ Công Anh"
                  formControlName="name"
                />
              </mat-form-field>

              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.createformGroup_info.get('name')?.errors &&
                    (createformGroup_info.get('name')?.touched || isSubmitted)
                  "
                  [formGroup]="createformGroup_info"
                  [formGroupControlName]="'name'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Loại phương tiện</mat-label>
                <select
                  matNativeControl
                  required
                  formControlName="vehicleType"
                  (change)="changeType($event)"
                >
                  <option [value]="0">Xe khách</option>
                  <option [value]="1">Máy bay</option>
                </select>
              </mat-form-field>
            </div>

            <div class="row" style="margin-bottom: 1rem; width: 100%">
              <app-moving-contact-select-autocomplete
                style="width: 88%"
                [data_selected]="undefined"
                [type]="vehicleType"
                (result)="selectSchedule($event.data)"
              >
              </app-moving-contact-select-autocomplete>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tên đối tác</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Bồ Công Anh"
                  formControlName="branchName"
                  [readonly]="true"
                />
              </mat-form-field>

              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.createformGroup_info.get('branchName')?.errors &&
                    (createformGroup_info.get('branchName')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="createformGroup_info"
                  [formGroupControlName]="'branchName'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Tên người điều khiển phương tiện</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Bồ Công Anh"
                  formControlName="driverName"
                />
              </mat-form-field>

              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.createformGroup_info.get('driverName')?.errors &&
                    (createformGroup_info.get('driverName')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="createformGroup_info"
                  [formGroupControlName]="'driverName'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Biển số phương tiện</mat-label>
                <input
                  matInput
                  placeholder="Vd: 98Y4-12-123"
                  formControlName="vehiclePlate"
                />
              </mat-form-field>
              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.createformGroup_info.get('vehiclePlate')?.errors &&
                    (createformGroup_info.get('vehiclePlate')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="createformGroup_info"
                  [formGroupControlName]="'vehiclePlate'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Số điện thoại liên lạc</mat-label>
                <input
                  matInput
                  placeholder="Vd: 0123456789"
                  formControlName="phoneNumber"
                />
              </mat-form-field>
              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.createformGroup_info.get('phoneNumber')?.errors &&
                    (createformGroup_info.get('phoneNumber')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="createformGroup_info"
                  [formGroupControlName]="'phoneNumber'"
                ></app-validation>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 create-form">
            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Đơn giá</mat-label>
                <input
                  matInput
                  placeholder="Vd: 10000"
                  formControlName="singlePrice"
                />
              </mat-form-field>
              <div class="validation-container">
                <app-validation
                  *ngIf="
                    this.createformGroup_info.get('singlePrice')?.errors &&
                    (createformGroup_info.get('singlePrice')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="createformGroup_info"
                  [formGroupControlName]="'singlePrice'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Loại phương tiện</mat-label>
                <select matNativeControl required formControlName="vehicleType">
                  <option value="0">Xe khách</option>
                  <option value="1">Máy bay</option>
                </select>
              </mat-form-field>
              <div style="margin-top: -20px; margin-bottom: 10px">
                <app-validation
                  *ngIf="
                    this.createformGroup_info.get('vehicleType')?.errors &&
                    (createformGroup_info.get('vehicleType')?.touched ||
                      isSubmitted)
                  "
                  [formGroup]="createformGroup_info"
                  [formGroupControlName]="'vehicleType'"
                ></app-validation>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Nơi xuất phát</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Hà Nội"
                  formControlName="startingPlace"
                />
              </mat-form-field>
              <app-validation
                *ngIf="
                  this.createformGroup_info.get('startingPlace')?.errors &&
                  (createformGroup_info.get('startingPlace')?.touched ||
                    isSubmitted)
                "
                [formGroup]="createformGroup_info"
                [formGroupControlName]="'startingPlace'"
              ></app-validation>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="full-width-input">
                <mat-label>Nơi đến</mat-label>
                <input
                  matInput
                  fullwidth
                  placeholder="Vd: Đà Nẵng"
                  formControlName="headingPlace"
                />
              </mat-form-field>
              <app-validation
                *ngIf="
                  this.createformGroup_info.get('headingPlace')?.errors &&
                  (createformGroup_info.get('headingPlace')?.touched ||
                    isSubmitted)
                "
                [formGroup]="createformGroup_info"
                [formGroupControlName]="'headingPlace'"
              ></app-validation>
            </div>
          </div>
        </div>

        <div class="row">
          <app-tiny-mce-editor
            style="width: 90% !important"
            [blobName]="''"
            [containerName]="'movingschedule-content-container'"
            (result)="getTinyMceResult($event)"
          ></app-tiny-mce-editor>
          <input type="file" style="visibility: hidden" />
          <div style="margin-top: -20px; margin-bottom: 10px">
            <app-validation
              *ngIf="
                this.createformGroup_info.get('description')?.errors &&
                (createformGroup_info.get('description')?.touched ||
                  isSubmitted)
              "
              [formGroup]="createformGroup_info"
              [formGroupControlName]="'description'"
            ></app-validation>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
